<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
</head>
<body>
<h3>User index page</h3>
</body>
<p>list of items (<span th:text="${#lists.size(users)}"></span>):</p>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Sum</th>
    </thead>
    <tbody>
    <th:block th:each="pair : ${users}">
        <tr>
            <td th:text="${pair.key.id}"></td>
            <td th:text="${pair.key.name}"></td>
            <td th:text="${pair.key.email}"></td>
            <td th:text="${pair.value}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<p>
    <strong>Time:&nbsp;
        <span th:text="${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm ss')}"></span>
    </strong>
</p>
</html>